.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* Sidebar의 너비 조정 (원하는 너비로 설정) */
  height: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 50px;
}

.novel-form h2 {
  color: black;
  font-weight: 500;
}

.novel-list {
  display: flex;
  flex-wrap: wrap; /* 수평으로 나열하되 넘치면 다음 줄로 넘어가도록 설정 */
}

.novel-name {
  text-align: center;
  font-size: 16px;
  margin: 10px; /* 간격 조정 */
  cursor: pointer;
  background-color: #ffffff;
  color: rgba(34, 132, 35, 0.656);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px; /* 이름 사이의 간격 조정 */
}
.novel-name:hover {
  font-size: 16px;
  margin: 5px; /* 간격 조정 */
  cursor: pointer;
  background-color: #6bd6848d;
  color: rgba(255, 255, 255, 0.656);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px; /* 이름 사이의 간격 조정 */
}

button {
  background-color: #ffffff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: auto; /* 아래로 내려서 아래에 붙이도록 설정 */
}
